mixin about()
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	section#about.about-section
		.container
			.about-card
				header.about-card__header
					h2 About me
				.about-card__info
					p Hi, welcome to my personal website. I am a Computer Science graduate student at USC. Prior to this degree, I got a M.S. in Communications Engineering and B.S. in Electrical and Computer Engineering at National Chiao Tung University, Taiwan. I have 3+ years C/C++ and Java programming experience, and am familiar with SQL, NoSQL(MongoDB) databases as well as computer networking. As a software/firmware intern, a research assistant in 4G/5G wireless technology lab, a software QA intern, and a freelance web developer, I like to try different fields related to Computer Science since I believe these experience will make me become a more comprehensive software engineer. Moreover, I am a highly self-motivated engineer with strong problem solving skills. I enjoy facing challenges, breaking big problem into small sub-problems, and solving it.
					br
					p.emphasis I'm activing seeking for 2019 software engineer intern position.
					p.emphasis Please feel free to view my #[a.js-link.js-anchor(href="static/CV.pdf" target="_blank") CV] and #[a.js-link.js-anchor(href="#contacts") Contact] me!
					ul.about-info-social
						li
							a.icon.icon_fb(rel="nofollow" href="https://www.facebook.com/paul.hong.71465" target="_blank") I'm on Facebook
						li
							a.icon.icon_git(rel="nofollow" href="https://github.com/paulhong01" target="_blank") I'm on github
						li
							a.icon.icon_in(rel="nofollow" href="https://www.linkedin.com/in/shen-fong-hung-34a105147/" target="_blank") My Linkedin profile
						li
							a.icon.icon_twi(rel="nofollow" href="https://twitter.com/ShenfongH" target="_blank") My Twitter
