mixin education()
	section#education.common-section-education
		.container
			header.common-section__header
				h2 Education
				h4 My educational background
			.grid-container
				ul.education
					li.education__item.icon.icon_study
						h4 University of Southern Calforina, CA, U.S.A.
						p #[b M.S., Computer Science (Aug 2018 - Present)]
						p - Awards: The Xinran Ji Memorial Scholarship
						p - Overal GPA: 3.9/4.0
					li.education__item.icon.icon_graduation
						h4 National Chiao Tung University, TAIWAN, R.O.C.
						p #[b M.S., Communications Engineering (Sep 2016 - Jun 2017)]
						p - Overall GPA: 4.00/4.00
						p - Thesis: Joint Wireless Charging and Hybrid Power based Resource Allocation for Energy-Efficient Small Cell Networks <br>
						p #[b B.S., Electrical and Computer Engineering (Sep 2012 - Jun 2016)]
						p - Ranking: 1/44; Overall GPA: 3.97/4.00; Major GPA: 4.00/4.00
