mixin experiences()
	section#experiences.common-section
		.container
			header.common-section__header
				h2 Experiences
				h4 Working, Intern and Research experiences in the past
			.grid-container
				ul.experiences.experiences_advisory
					li.experiences__item
						.content
							h4 Compulsory Militrary Service
							p.icon.icon_location  Taipei, Taiwan
							p.time (Oct 2017 - Apr 2018)
							p #[b Substitute Militrary Service]
							p - Set up and maintained Personnel Management System
							p - Assisted with administrative work
					li.experiences__item
						.content
							h4 Umbo Computer Vision Inc.
							p.icon.icon_location  Taipei, Taiwan
							p.time (Jul 2017 - Sep 2017)
							p #[b Software QA Intern]
							p - Designed automated testing script flow chart
							p - Implemented automatic testing platform using Python under Unix enivonment
					li.experiences__item
						.content
							h4 Mobile Intelligent Network Technology Laboratory (NCTU)
							p.icon.icon_location  Hsinchu, Taiwan
							p.time (Sep 2015 - Jul 2017)
							p #[b Research Assistant], supervised by Prof. Kai-Ten Feng
							p #[b Project: ]Wireless Power Transfer and Energy-harvesting for Emergency and Disaster Applications in LTE Mobile Networks
							p - Surveyed papers on wireless networks resource allocation and energy-harvesting related topics
							p - Designed system model and formulated optimization problem
							p - Designed resource allocation algorithm by using non-linear fractional programming and dual decomposition
							p - Implemented software simulation using MATLAB
							p - #[a.email(href = "https://ieeexplore.ieee.org/document/7925823/" target="_blank") Publication]
					li.experiences__item
						.content
							h4 IMEC TAIWAN (R&D Department)
							p.icon.icon_location  Hsinchu, Taiwan
							p.time (Jul 2015 - Sep 2015)
							p #[b Summer Intern]
							p - Studied IC datasheet
							p - Programmed smart watch firmware using C
					li.experiences__item
						.content
							h4 Freelance Web Deveploer
							p.icon.icon_location  Hsinchu, Taiwan
							p.time (Jan 2015 - May 2015)
							p #[b Web Developer]
							p - Implemented website using HTML5, CSS
							p - Works: #[a.email(href = "http://www.theglenlivet.com.tw/" target="_blank") The Glenlivet Taiwan’s official website], #[a.email(href = "http://www.aberlour.com.tw/index.html" target="_blank") Aberlour Taiwan’s official website]
