mixin experiences()
	section#experiences.common-section
		.container
			header.common-section__header
				h2 Experiences
				h4 Working and Intern Experiences in the past
			.grid-container
				ul.experiences.experiences_advisory
					li.experiences__item
						h4 Fusce aliquam lorem
						p Nam volutpat nisl arcu, id finibus augue vulputate id. Donec vestibulum enim eget nisi feugiat convallis vitae non orci. Maecenas pretium nunc quis molestie dapibus. Curabitur elementum scelerisque pellentesque. Sed eu nunc ac orci scelerisque vestibulum eu nec sem. Integer lobortis elit ac ligula sollicitudin, quis vehicula lacus commodo.
					li.experiences__item
						h4 Sed quis pretium metus
						p Fusce ligula nulla, finibus et suscipit sed, porttitor lacinia lectus. Suspendisse potenti. Nunc gravida mauris nec blandit euismod. Cras ultricies massa arcu, quis convallis turpis varius sit amet. Duis et convallis magna. Phasellus sit amet ex efficitur, facilisis ante a, tincidunt augue. Donec porttitor posuere luctus.
