mixin experiences()
	section#experiences.common-section
		.container
			header.common-section__header
				h2 Experiences
				h4 Working, Intern and Research experiences in the past
			.grid-container
				ul.experiences.experiences_advisory
					li.experiences__item
						.content
							h4 Compulsory Militrary Service
							p.icon.icon_location  Taipei, Taiwan
							p.time (Oct 2017 - Apr 2018)
							p #[b Substitute Militrary Service]
							p - Set up and maintained Personnel Management System
							p - Assisted with administrative work
					li.experiences__item
						.content
							h4 Umbo Computer Vision Inc.
							p.icon.icon_location  Taipei, Taiwan
							p.time (Jul 2017 - Oct 2017)
							p #[b Software Engineer Intern]
							p - Improved QA testing process by developing automated testing script using Python, Selenium, MongoDB under Unix
							p - Created testing plans for 2 critical and several minor revisions; reviewed 40+ features of product interfaces and functionalities for web, Android App and IOS App; communicated testing results with developers
					li.experiences__item
						.content
							h4 Mobile Intelligent Network Technology Laboratory (NCTU)
							p.icon.icon_location  Hsinchu, Taiwan
							p.time (Sep 2015 - Jul 2017)
							p #[b Research Assistant], supervised by Prof. Kai-Ten Feng
							p - Researched L2/L3 networking protocols for 4G/5G wireless networks with green communications technologies
							p - Designed two novel MAC layer resource allocation algorithms using nonlinear optimization theory to enhance at least 15% energy efficiency compared to traditional LTE-A networks
							p - Constructed heterogeneous wireless networks software simulations’ environment and programmed proposed algorithm using MATLAB
							p - Published and presented to 50+ professionals at IEEE Wireless Communications and Networking Conference 2017
					li.experiences__item
						.content
							h4 IMEC TAIWAN (R&D Department)
							p.icon.icon_location  Hsinchu, Taiwan
							p.time (Jul 2015 - Aug 2015)
							p #[b Summer Intern]
							p - Built communication system for microcontroller of smart watch by implementing I2C protocol using C
							p - Collaborated with two other colleagues to port smart watch sensors drivers to MCU framework
					li.experiences__item
						.content
							h4 Freelance Web Deveploer
							p.icon.icon_location  Hsinchu, Taiwan
							p.time (Jan 2015 - May 2015)
							p #[b Web Developer]
							p - Developed websites for two global firms. Works included #[a.email(href = "http://www.theglenlivet.com.tw/" target="_blank") The Glenlivet Taiwan’s official website], #[a.email(href = "http://www.aberlour.com.tw/index.html" target="_blank") Aberlour Taiwan’s official website]
							p - Coordinated website functionality with website designer; constructed website framework using Wordpress, and modified website layout and functionality to follow designers’ design using HTML 5, CSS, PHP, and Wordpress plugin
