mixin header()
	header.main-header
		.second-nav.js-nav
			.container
				nav.menu
					ul
						li
							a.js-link.js-anchor.is-selected(href="#home") Home
						li
							a.js-link.js-anchor(href="#about") About
						li
							a.js-link.js-anchor(href="#education") Education
						li
							a.js-link.js-anchor(href="#services") Services
						li
							a.js-link.js-anchor(href="#process") Process
						li
							a.js-link.js-anchor(href="#projects") Projects
						li
							a.js-link.js-anchor(href="#testimonials") Testimonials
						li
							a.js-link.js-anchor(href="#contacts") Contacts
