mixin home()
	section#home.home-section
		.home-section__bg
		.home-section__overlay
			.container
				header.home-section__header
					h1 Shen-Fong Hung
					img(src="static/images/my_photo.png" alt="Lorem ipsum dolor sit amet" style="width: 20%; height: 20%")
