mixin testimonials()
	section#testimonials.common-section
		header.common-section__header
			h2 testimonials
			p Donec lorem ante, efficitur ut blandit eu, sollicitudin sed mi

		.testimonials-wrap
			.grid-container
				.testimonials
					figure.testimonials__item
						img(src="static/images/testimonials/1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit")
						figcaption
							a.icon.icon_link(href="#" rel="nofollow") Lorem ipsum dolor sit amet, consectetur adipiscing elit
					figure.testimonials__item
						img(src="static/images/testimonials/2.jpg" alt="Donec lobortis, est iaculis rutrum feugiat")
						figcaption
							a.icon.icon_link(href="#" rel="nofollow") Donec lobortis, est iaculis rutrum feugiat
					figure.testimonials__item
						img(src="static/images/testimonials/5.jpg" alt="Duis feugiat, metus eu ullamcorper accumsan, massa risus dictum nisi")
						figcaption
							a.icon.icon_link(href="#" rel="nofollow") Duis feugiat, metus eu ullamcorper accumsan, massa risus dictum nisi
					figure.testimonials__item
						img(src="static/images/testimonials/6.jpg" alt="Donec non ligula imperdiet, tincidunt quam ut, pellentesque nisi")
						figcaption
							a.icon.icon_link(href="#" rel="nofollow") Donec non ligula imperdiet, tincidunt quam ut, pellentesque nisi
					figure.testimonials__item
						img(src="static/images/testimonials/3.jpg" alt="Mauris a sem semper, maximus metus vitae, efficitur turpis")
						figcaption
							a.icon.icon_link(href="#" rel="nofollow") Mauris a sem semper, maximus metus vitae, efficitur turpis
					figure.testimonials__item
						img(src="static/images/testimonials/4.jpg" alt="Nunc sit amet massa id sem pretium luctus")
						figcaption
							a.icon.icon_link(href="#" rel="nofollow") Nunc sit amet massa id sem pretium luctus
					figure.testimonials__item
						img(src="static/images/testimonials/7.jpg" alt="Nunc elementum arcu sit amet erat sodales fringilla")
						figcaption
							a.icon.icon_link(href="#" rel="nofollow") Nunc elementum arcu sit amet erat sodales fringilla
					figure.testimonials__item
						img(src="static/images/testimonials/8.jpg" alt="Cras condimentum venenatis aliquet")
						figcaption
							a.icon.icon_link(href="#" rel="nofollow") Cras condimentum venenatis aliquet
